.container_autenticacao{
    width: 100%;
    height: 100vh;
    background-color:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container_login{
    background-color: white;
    width: 80%;
    height: 80vh;
    max-width: 1260px;
    max-height: 630px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 10px;
  }
  
  .pai_img,
  .form_login{
    width: 50%;
    height: 100%;
  }
  
  .pai_img{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 170px;
    border-bottom-right-radius: 170px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .pai_img div{
    height: 140px;
    color: white;
    width: 80%;
  }
  
  .pai_img div h2{
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
  }
  
  .pai_img div span{
    color:#cbcbcb;
    margin-top: 4px;
  }
  
  
  
  .pai_img img{
    width: 65%;
  }

  .form_login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

 .texo_login,
  .formulario_login{
    width: 70%;
  }
  .texo_login{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-bottom: 18px;
  }


  .texo_login h1{
    font-size: 40px;
    line-height: 38px;
  }

  .texo_login span{
    color: #929292;
  }

  .formulario_login{
    height: 285px;
  }

  .formulario_login form{
    width: 100%;
    height: 100%;
  }

  .componente_form{
    width: 90%;
    height: 60px;
    margin:  0 auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: box-shadow 0.3s ease-in-out;
  }

  .notificacao{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .notificacao p{
    font-size: 13px;
    color: red;
  }

  .componente_form:nth-child(1),
  .componente_form:nth-child(2){
     background-color: #f9f9f9;
     border-radius: 3px;
  }

  .componente_form input{
    width: 90%;
    height: 100%;
    border: none;
    padding-left: 16px;
    background-color: #f9f9f9;
    outline: none;
    font-size: 16px;
  }


  .componente_form {
    transition: box-shadow 0.5s ease-in-out;
}


.componente_form {
  transition: box-shadow 0.4s ease-in-out;
}


.componente_form.focused {
  animation: shadowSpread 0.5s ease-in-out forwards;
}

@keyframes shadowSpread {
  0% {
      box-shadow: 0 0 0 0 rgba(218, 78, 253, 0.3); 
  }
  50% {
      box-shadow: 0 0 10px 5px rgba(218, 78, 253, 0.5);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(218, 78, 253, 0);
  }
}


.container_login #nprogress .bar {
  background: #DA4EFD; 
}

.container_login #nprogress .spinner-icon {
  border-top-color: #DA4EFD;
  border-left-color: #DA4EFD; 
}

.container_login #nprogress .peg {
  box-shadow: 0 0 10px #DA4EFD, 0 0 5px #DA4EFD;
}


  .componente_form i{
    color: #bdbdbd;
  }

  .componente_form a{
    color: #929292;
    text-decoration: none;
  }

  .componente_form a:hover{
    text-decoration: underline;
  }

  input::placeholder {
    color: #bdbdbd;
    opacity: 1; 
}

.componente_form button{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    background-color: #DA4EFD;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.componente_form button:hover{
    background-color: #b04bc9;
}


@media (max-width: 955px){
  #root > div > div > div.form_login > div.formulario_login > form > div:nth-child(3) > a{
    font-size: 12px;
  }

  .componente_form{
    width: 95%;
  }

}

  
@media (max-width: 768px) {


  #root > div > div > div.form_login > div.formulario_login > form > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #root > div > div > div.form_login > div.formulario_login > form > div:nth-child(3) > a{
    font-size: 15px;
  }

    .container_login{
      flex-direction: column;
      align-items: center;
      height: auto;
      max-height: 1000px;
      gap: 40px;
      padding-bottom: 40px;
    }

    .pai_img{
      border-top-right-radius:0px;
      border-bottom-right-radius: 170px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 170px;
      width: 100%;
    }

    .pai_img div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }

    #root > div > div > div.pai_img > img{
      display: none;
    }

    .form_login,
    .texo_login{
      width: 80%;
    }

    .formulario_login{
      width: 100%;
    }

}

@media (max-width: 569px){

  .pai_img{
    border-top-right-radius:0px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 100px;
    width: 100%;
  }



  .pai_img div h2{
    font-size: 28px;
  }

  .pai_img div span{
    font-size: 15px;
  }


}


@media (max-width:500px) {
  .form_login, .texo_login{
    width: 90%;
  }
}



@media (max-width: 397px){



  .pai_img{
    border-top-right-radius:0px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 70px;
    width: 100%;
    height: 100px;
  }



  .pai_img div h2{
    font-size: 20px;
    line-height: 20px;
  }

  .pai_img div span{
    font-size: 11px;
  }

  .form_login,
  .texo_login{
    width: 96%;
  }

  .texo_login h1{
    font-size: 22px;
    line-height: 22px;
  }

  .container_login{
    gap: 0px;
    padding-bottom: 20px;
  }

  .container_login{
    font-size: 13px;
  }

  .componente_form{
    height: 50px;
  }

  .componente_form button{
    width: 60%;
    height: 70%;
    font-size: 16px;
  }

  #root > div > div > div.form_login > div.formulario_login > form > div:nth-child(3) > a{
    font-size: 13px;
  }

  #root > div > div > div.form_login > div.formulario_login > form > div:nth-child(3){
    margin-bottom: 0px;
  }

}